@import url('https://fonts.googleapis.com/css2?family=Jomolhari&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Outfit:wght@100..900&display=swap');

h1 {font-family: "Jomolhari", serif;}
h2{font-family: "Oswald", sans-serif;}
h3{font-family: "Open Sans", sans-serif;}
p{font-family: "Outfit", sans-serif;}
