@import url('https://fonts.googleapis.com/css2?family=Jomolhari&family=Oswald:wght@200..700&family=Outfit:wght@100..900&display=swap');

h1 {font-family: "Jomolhari", serif;}
h2{font-family: "Oswald", sans-serif;}
p{font-family: "Outfit", sans-serif;}
