---
import UndersideLayout from "../layouts/UndersideLayout.astro";
import "../Styles/style.css"

---

<UndersideLayout >
<div class="infopage">
    <img class="piercing-img" src="/public/imgs/bigleafbackground.svg" alt="">
    <h1>INFO PIERCING</h1>
    <div>
        <h2>FORBEREDELSE TIL TATTOO ELLER PIERCING</h2>
        <div class="grid_1-1">
            <div>
                <p>Et spørgsmål vi hører på daglig basis er: “gør det ondt at blive tatoveret/piercet?”</p>
                <p>Svaret er ganske simpelt. Det er meget individuelt fra person til person, når  vi oplever smerte, reagerer vores nerveender og der bliver sendt  signaler til hjernen, disse signaler bliver så sendt ind i forskellige  kamre i hjernen og derfra vil din hjerne beslutte hvorvidt den skal  reagere på smerten. Nogle er bedre til at håndtere den, andre ikke.  Derfor kan der ikke svares på, hvor ondt det gør, da det opfattes og  opleves forskelligt.Når det så er sagt, så kan vi booste vores krop til bedre at håndtere smerten men nogle meget simple metoder.Hver hydreret drik en masse væske, før du skal tatoveres/pierces.</p>
                <p>Spis et godt måltid med masser af fibre og proteiner. Tag gerne noget at  spise med evt en banan som indeholder vitamin B6 som booster  immunforsvaret.Sukker! Det er vigtigt at have sit blodsukker i orden når man skal tatoveres eller pierces, tag gerne noget slik med du kan  hygge med, og eventuelt en sodavand.Sidst men ikke mindst, forbered dig mentalt, men uden at overtænke det.</p>
                <p>Skulle du stadig stå tilbage med en følelse af at du ikke tør, eller er så  bange for smerten at det hindrer dig i at få din drømme tattoo eller  piercing, så tilbyder vi også bedøvelsescreme i de ekstreme tilfælde.
                For at kunne benytte sig af denne service, skal du kontakte os.</p>

            </div>
            <div>
                <p>Vi som mennesker kan nemlig snyde vores hjerner.Vi oplever oftest at de mest nervøse er dem der har mindst ondt, og det er ganske simpelt fordi de forventer en uudholdelig smerte, men i  virkeligheden er det ganske overkommeligt.Vi bestræber os i at have de bedste nåle på markedet for på den måde at sikre vores kunder en så smertefri oplevelse som muligt.</p>
                <p>For at sikre dig det bedste resultat beder vi om IKKE at komme med  bedøvelsescreme hjemmefra. Ikke alle cremer er gode til at arbejde i, og vi går ikke på kompromis med kvaliteten af vores kunst. Kommer du  med bedøvelsescreme som ikke er godkendt af os, ser vi os nødsaget til  at afvise din booking og du vil miste din forudbetaling.</p>
                <p>Har du spørgsmål til ovenstående eller ønsker at bestille tid til bedøvelse, kan vi kontaktes på E-mail.Sparrow.tattoo.piercing@outlook.com</p>
            </div>
        </div>
    </div>
    <div class="grid_1-1">
        <img src="/public/imgs/piercingpriser.svg" alt="">
        <div>
            <h2 class="smykkepriser">SMYKKE PRISER</h2>
            <p>Alle mine priser indkludere et kvalitetsmykke lavet af implant grade titanium (Ti-6al-4v-eli asmt f136).</p>
            <p>Jeg går ikke på kompromis med kvalitet for at sikre den bedste heling fra start. </p>
            <p>Startsmykker vil være en plain kugle alt efter placering. </p>
            <p>Jeg har dog et af Danmarks største udvalg af lækre startsmykker i både  titanium, 24 karat guldbelagt (PVD) eller 14 karats solid guld &  hvidguld. </p>
            <p>Mit udvalg byder på alt fra smukke sten i forskellige  størrelser og former, derudover har jeg et bredt udvalg af natursmykker  da de er mine personlige farvoritter. </p>
            <p>Jeg bestræber mig på at  have et så stort udvalg som muligt i butikken men skulle du have lyst  til at bestille et smykke jeg endnu ikke har i mit sortiment er du  velkommen til at tage et kig hos mine samarbejdespartnere.</p>
            <p>Neometal: <a href="https://www.neometal.com/">https://www.neometal.com</a></p>
            <p>Invuctus: <a href="https://invictusbodyjewelry.com/">https://invictusbodyjewelry.com/</a></p>
            <p>Junipurr Jewelry: <a href="https://junipurrjewelry.com/">https://junipurrjewelry.com/</a></p>
            <p>Mushroom Bodu Jewelry: <a href="https://mushroombodyjewelry.com/">https://mushroombodyjewelry.com/</a></p>
            <p>Maya Jewelry: <a href="https://mayajewelry.com/">https://mayajewelry.com/</a></p>
            <p>Leroi: <a href="https://www.leroi.com/">https://www.leroi.com/</a></p>
            <p>Jeg bestiller hjertens gerne smykker hjem til mine kunder. Kontakt mig på: Nadiapiercer@outlook.dk</p>
        </div>
    </div>
</div>
</UndersideLayout>


<style>
    .infopage{
        position: relative;
    }
    .piercing-img{
        position: absolute;
        top: 0%;
        left: 0%;
    }
    h1{
        font-family: "Jomolhari", serif;
        display: flex;
        justify-content: center;
        font-size: 64px;
    }
    h2{
        display: flex;
        justify-content: center;
        font-size: 40px;
        font-family: "Oswald", sans-serif;
        font-weight: 400;
    }
    .smykkepriser{
        display: flex;
        justify-content: left;
    }

    .grid_1-1{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
        padding: 50px 172px 0 172px;
    }
    .grid_1-1 p{
        font-family: "Outfit", sans-serif;
        font-size: 16px;
        font-weight: 400;
    }
    .grid_1-1 img{
        width: 100%;
    }
   

    @media only screen and (max-width: 992px){
    h1{
        display: flex;
        justify-content: center;
        font-size: 40px;
    }
    h2{
        display: flex;
        justify-content: center;
        font-size: 23px;
        font-family: "Oswald", sans-serif;
        font-weight: 400;
    }
    .smykkepriser{
        display: flex;
        justify-content: center;
        font-size: 23px;
    }

    .grid_1-1{
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        padding: 50px 50px 0 50px;
    }
    .grid_1-1 p{
        font-family: "Outfit", sans-serif;
        font-size: 12px;
        font-weight: 400;
    }
    }
</style>