---
import UndersideLayout from "../layouts/UndersideLayout.astro";


---

<UndersideLayout >
    <img class="piercing-img" src="/public/imgs/bigleafbackground.svg" alt="">
    <h1>INFO TATTOO</h1>
        <div>
            <h2>FORBEREDELSE TIL TATTOO ELLER PIERCING</h2>
            <div class="grid_1-1">
                <div>
                    <p>Et spørgsmål vi hører på daglig basis er: “gør det ondt at blive tatoveret/piercet?”</p>
                    <p>Svaret er ganske simpelt. Det er meget individuelt fra person til person, når  vi oplever smerte, reagerer vores nerveender og der bliver sendt  signaler til hjernen, disse signaler bliver så sendt ind i forskellige  kamre i hjernen og derfra vil din hjerne beslutte hvorvidt den skal  reagere på smerten. Nogle er bedre til at håndtere den, andre ikke.  Derfor kan der ikke svares på, hvor ondt det gør, da det opfattes og  opleves forskelligt.  Når det så er sagt, så kan vi booste vores krop til bedre at håndtere smerten men nogle meget simple metoder. Hver hydreret drik en masse væske, før du skal tatoveres/pierces.</p>
                    <p>Spis et godt måltid med masser af fibre og proteiner. Tag gerne noget at  spise med evt en banan som indeholder vitamin B6 som booster  immunforsvaret. Sukker! Det er vigtigt at have sit blodsukker i orden når man skal tatoveres eller pierces, tag gerne noget slik med du kan  hygge med, og eventuelt en sodavand. Sidst men ikke mindst, forbered dig mentalt, men uden at overtænke det. </p>
                    <p>Skulle du stadig stå tilbage med en følelse af at du ikke tør, eller er så  bange for smerten at det hindrer dig i at få din drømme tattoo eller  piercing, så tilbyder vi også bedøvelsescreme i de ekstreme tilfælde.
                    For at kunne benytte sig af denne service, skal du kontakte os.</p>
        
                </div>
                <div>
                    <p>Vi som mennesker kan nemlig snyde vores hjerner. Vi oplever oftest at de mest nervøse er dem der har mindst ondt, og det er ganske simpelt fordi de forventer en uudholdelig smerte, men i  virkeligheden er det ganske overkommeligt. Vi bestræber os i at have de bedste nåle på markedet for på den måde at sikre vores kunder en så smertefri oplevelse som muligt.</p>
                    <p>For at sikre dig det bedste resultat beder vi om IKKE at komme med  bedøvelsescreme hjemmefra. Ikke alle cremer er gode til at arbejde i, og vi går ikke på kompromis med kvaliteten af vores kunst.  Kommer du  med bedøvelsescreme som ikke er godkendt af os, ser vi os nødsaget til  at afvise din booking og du vil miste din forudbetaling.</p>
                    <p>Har du spørgsmål til ovenstående eller ønsker at bestille tid til bedøvelse, kan vi kontaktes på E-mail. Sparrow.tattoo.piercing@outlook.com</p>
                </div>
            </div>
        </div>
    <div>
        <h2>LÆS OM AFTERCARE TIL DIN TATTOO</h2>
        <div class="grid_3-1">
            <div>
                <p>I dag har vi lavet et smukt kunstværk på dig, men nu er det din opgave at passe godt på det med aftercare tattoo.</p>
                <p>Vi anbefaler at du følger vores aftercare tattoo anvisning til punkt og prikke for optimale helingsforhold. Når du går ud af døren ved os med din nye tatovering vil du have Dermalize på (den gennemsigtige film)</p>
                <p>Vi anbefaler at du lader det sidde på i 5 dage, medmindre der kommer  større væskeansamlinger under, så er det bedst at fjerne det før tid. Vi vil her komme ind på hvordan du bedst passer på din friske tattoo.</p>
            </div>
            <img src="/public/imgs/aftercaretattoo.svg" alt="">
        </div>
    </div>

    <div>
        <h2>AFTERCARE TATTOO</h2>
        <div class="grid_1-1">
            <div>
                <p>Efter 5 dage anbefaler vi, at du fjerner din Dermalize. Start med at tage et almindeligt varmt bad og i slutningen skyller du  dermalizen med lunkent vand mens du samtidig lige så stille tager  dermalizen af. Det kan godt svi og brænde lidt, vær forsigtig.</p>
                <p>Vandet må under ingen omstændigheder være for varmt, da det åbner såret og det kan give alvorlige konsekvenser for helingen.</p>
                <p>Når din dermalize er kommet af, skal du skylle din tatovering med koldt/lunkent vand. Efter du har taget din dermalize af anbefaler vi du 2 gange dagligt vasker din tatovering. Husk altid at have rene hænder.</p>
                <p>Skyl den under rindende lunkent til koldt vand mens du med den anden hånd  forsigtigt vasker tatoveringen ren. Herefter dup din tatovering med en  ren klud eller et stykke køkkenrulle.</p>
                <p>Efter denne proces skal du begynde med tattoo creme. Vi anbefaler du 3-5 gange om dagen smører din tatovering.</p>
                <p>Vi anbefaler vores eller Panthenol creme fra apoteket. Det er vigtigt, du ikke bruger andre ting til at smøre din tatovering i.</p>
                <p>Det er et åbent sår, og kemikalier og andet høre ikke til.</p>
            </div>
            <div>
                <div>
                    <h5>Tøj</h5>
                    <p>Hav ikke tøj på der sidder tæt eller som fnuldrer ned i din tatovering. Det er vigtigt, at din tatovering får luft og ikke bliver indpakket i alt for meget tøj.</p>
                </div>
                <div>
                    <h5>Sol</h5>
                    <p>Undgå direkte sollys eller solarie de første 8 uger. Det bleger desværre en tatovering, husk også altid at bruge solcreme på din tatovering efter den er helet hvis du skal ud og solbade.</p>
                </div>
                <div>
                    <h5>Badning</h5>
                    <p>Undgå badning i hav og svømmehal i 8 uger.
                        Der er i klor og saltvand rigtig mange bakterier som vi helst ikke skal have ind i vores åbne sår, derudover kan man få fugtskader i sin tatovering, og det efterlader desværre et rigtig dårligt resultat og en langvarig heling.</p>
                </div>
            </div>
        </div>
        <div class="small_p-tattoo">
            <p>Husk det er normalt at en tatovering er øm, hævet, og klør. Du må dog ikke klø i din tatovering. Du vil også opleve at din tatovering begynder at skalle af efter 1-3 uger, ligesom ved en solskoldning, og det vil klø. Dup eventuelt din  tatovering med lidt vand de steder det klør. Du risikerer at rive såret  op, og der kan komme komplikationer med resultatet samt helingen af din  tatovering.</p>
            <p>Skulle det ske, at der efter vores  plejevejledning skulle være et sted eller 2 der mangler lidt blæk, er du altid velkommen til at kontakte os. Vi har gratis optegning de første 3 måneder. Denne garanti vil dog frafalde hvis du ikke har fulgt vores anvisning og dermed selv har forårsaget en dårlig heling.</p>
            <p>Husk at det er meget normalt at en tatovering er rød, øm og hævet de første  3-10 dage, skulle der dog opstå tiltagende smerte, rødme eller hævelse,  kontakt os hurtigst muligt for aftercare af din tattoo. Vi vil her hjælpe dig på bedste vis for at sikre en optimal heling for dig.</p>
            <p>Har du spørgsmål til ovenstående eller er det mindste i tvivl, tøv ikke med at kontakt os.</p>
        </div>
        <div class="video">
        <video src="/public/imgs/aftercare.mp4">Video aftercare</video>
        </div>
        <div>
            <h2>ALDER FOR TATOVERING</h2>
            <div class="small_p-tattoo">
                <p>Hvor gammel skal man være for at blive tatoveret?</p>
                <p>Ifølge den danske tatoveringslov som blev grundlagt og stiftet i 1966 er det  ulovligt og strafbart at tatovere en person under 18 år i Danmark. Det samme er gældende på halsen, i hovedet og på hænderne.</p>
            </div>
        </div>
    </div>
</UndersideLayout>

<style>
    h1{
        display: flex;
        justify-content: center;
        font-size: 64px;
    }
    h2{
        display: flex;
        justify-content: center;
        font-size: 40px;
        font-family: "Oswald", sans-serif;
        font-weight: 400;
    }
    h5{
        font-family: "Oswald", sans-serif;
        font-weight: 700;
        line-height: 0px;
        font-size: 20px;
    }
    .piercing-img{
        position: absolute;
        top: 5%;
        right: 0;
    }
    .grid_1-1{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
        padding: 50px 172px 0 172px;
        padding-bottom: 100px;
    }
    .grid_1-1 p{
        font-family: "Outfit", sans-serif;
        font-size: 16px;
        font-weight: 400;
    }

    .grid_3-1{
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 50px;
        padding: 50px 172px 0 172px;
    }
    .grid_3-1 p{
        font-family: "Outfit", sans-serif;
        font-size: 16px;
        font-weight: 400;
    }

    .small_p-tattoo p{
        font-family: "Outfit", sans-serif;
        font-size: 16px;
        font-weight: 400;
        padding: 0px 172px 0 172px;
    }
    .video{
        display: flex;
        justify-content: center;
        padding: 40px 40px;
    }

    @media only screen and (max-width: 992px){
        h1{
        display: flex;
        justify-content: center;
        font-size: 40px;
    }
        h2{
        display: flex;
        justify-content: center;
        font-size: 23px;
        font-family: "Oswald", sans-serif;
        font-weight: 400;
        padding-top: 50px;
    }
    .grid_1-1{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0px 80px 0 80px;
    }
    .grid_1-1 p{
        font-family: "Outfit", sans-serif;
        font-size: 12px;
        font-weight: 400;
    }
    .grid_3-1{
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding: 0px 80px 0 80px;
    }
    .grid_3-1 p{
        font-family: "Outfit", sans-serif;
        font-size: 12px;
        font-weight: 400;
    }
    .small_p-tattoo p{
        font-family: "Outfit", sans-serif;
        font-size: 12px;
        font-weight: 400;
        padding: 0px 80px 0 80px;
    }

    h5{
        font-family: "Oswald", sans-serif;
        font-weight: 700;
        line-height: 0px;
        font-size: 16px;
    }
    }
</style>