---
import "../Styles/gallery.css"
---

<div class="carousel">
    <button class="carousel_button carousel_button--left">
        <img src="/imgs/designs/left.svg" alt="">
    </button>
    <div class="carousel_track-container">
        <ul class="carousel_track">
            <li class="carousel_slide current-slide">
                <img class="carousel_images" src="/imgs/designs/caroline1.svg" alt="">
            </li>
            <li class="carousel_slide">
                <img class="carousel_images" src="/imgs/designs/jesco1.svg" alt="">
            </li>
            <li class="carousel_slide">
                <img class="carousel_images" src="/imgs/designs/nadia1.svg" alt="">
            </li>
            <li class="carousel_slide current-slide">
                <img class="carousel_images" src="/imgs/designs/caroline2.svg" alt="">
            </li>
            <li class="carousel_slide">
                <img class="carousel_images" src="/imgs/designs/jesco2.svg" alt="">
            </li>
            <li class="carousel_slide">
                <img class="carousel_images" src="/imgs/designs/nadia2.svg" alt="">
            </li>
            <li class="carousel_slide current-slide">
                <img class="carousel_images" src="/imgs/designs/caroline3.svg" alt="">
            </li>
            <li class="carousel_slide">
                <img class="carousel_images" src="/imgs/designs/jesco3.svg" alt="">
            </li>
            <li class="carousel_slide">
                <img class="carousel_images" src="/imgs/designs/nadia3.svg" alt="">
            </li>
            <li class="carousel_slide current-slide">
                <img class="carousel_images" src="/imgs/designs/caroline4.svg" alt="">
            </li>
            <li class="carousel_slide">
                <img class="carousel_images" src="/imgs/designs/jesco4.svg" alt="">
            </li>
            <li class="carousel_slide">
                <img class="carousel_images" src="/imgs/designs/nadia1.svg" alt="">
            </li>
            <li class="carousel_slide current-slide">
                <img class="carousel_images" src="/imgs/designs/caroline5.svg" alt="">
            </li>
            <li class="carousel_slide">
                <img class="carousel_images" src="/imgs/designs/jesco5.svg" alt="">
            </li>
            <li class="carousel_slide">
                <img class="carousel_images" src="/imgs/designs/nadia2.svg" alt="">
            </li>
            <li class="carousel_slide current-slide">
                <img class="carousel_images" src="/imgs/designs/caroline6.svg" alt="">
            </li>
            <li class="carousel_slide">
                <img class="carousel_images" src="/imgs/designs/jesco6.svg" alt="">
            </li>
            <li class="carousel_slide">
                <img class="carousel_images" src="/imgs/designs/nadia3.svg" alt="">
            </li>
        </ul>
    </div>
    <button class="carousel_button carousel_button--right">
        <img src="/imgs/designs/right.svg" alt="">
    </button>

    <div class="carousel_nav">
        <button class="carousel_indicator current-slide"></button>
        <button class="carousel_indicator"></button>
        <button class="carousel_indicator"></button>
    </div>
</div>

<script src="../Styles/gallery.js"></script>

