---

---

<div class="side_menu">
  <img class="side_img" src="" alt="" />
  <img class="side_img" src="" alt="" />
  <img class="side_img" src="" alt="" />
</div>

<style>
  .side_menu {
    width: 100px;
  }

  .side_img {
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
</style>
